/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-family: 'PressStart2P-Regular';
  /* stylelint-disable-next-line function-url-quotes */
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}





@font-face {
  font-display: swap;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Inter-Variable';
  src:
    local(inter-variable),
    /* stylelint-disable-next-line function-url-quotes */
      url('./Inter-Variable.woff2') format('woff2 supports variations'),
    /* stylelint-disable-next-line function-url-quotes */
      url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
}
