/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font__common), sans-serif;
  font-variation-settings: 'wght' var(--font__weight_common);
  background-image: var(--bg--gradient);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 100px;
}

.header__title {
  font-family: var(--font__accent), fantasy;
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  letter-spacing: 0;
  line-height: 100%;
  text-transform: uppercase;
  justify-self: center;
  padding-top: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  font-family: var(--font__accent), fantasy;
  text-transform: uppercase;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
}

.logo-group {
  border: 2px solid rgb(0 0 0 / 1);
  justify-self: center;
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  margin-top: 102px;
  background-color: #fff;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 51px;
  margin-bottom: 54px;
}

.card {
  max-width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  justify-self: center;
  border: 2px solid black;
  background-color: #fff;
}

.image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
}

.card__title {
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 10px;
  padding-bottom: 6px;
  font-variation-settings: 'wght' var(--font__weight_bold);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  border-bottom: 2px solid black;
}

.card__paragraph {
  padding-left: 24px;
  padding-right: 25px;
  padding-top: 30px;
  font-family: var(--font__common), sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

.paragraf__border {
  border-top: 2px solid black;
}

.about-oneself {
  padding-top: 28px;
}

.image__container {
  position: relative;
  aspect-ratio: 1/1;
}

@supports (
  (text-stroke: 1px var(--stroke__color)) or
    (-webkit-text-stroke: 1px var(--stroke__color))
) {
  .image__container::before {
    -webkit-text-stroke: 1px var(--stroke__color);
    text-stroke: 1px var(--stroke__color);
    text-shadow: none;
  }
}

.image__container::before {
  content: attr(data-label-name);
  position: absolute;
  top: 20px;
  right: 8px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--font__accent), fantasy;
  color: rgb(0 0 0 / 1);
  z-index: 1;

  text-shadow:
    -1px 0 var(--stroke__color),
    0 1px var(--stroke__color),
    1px 0 var(--stroke__color),
    0 -1px var(--stroke__color);
}

.button-box {
  display: flex;
  justify-content: end;
  padding-top: 22px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 23px;
}

.card__like-button {
  min-inline-size: 130px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.save__container {
  display: flex;
  justify-content: center;
}

.button {
  color: #fff;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border: 2px solid black;
  margin-top: 1px;
  margin-bottom: 3px;
  font-family: var(--font__accent), fantasy;
  font-size: 14px;
  padding: 9px 0;
  cursor: pointer;
}

.button__text {
  mix-blend-mode: difference;
  padding: 9px 0;
}

.button__svg {
  width: 21px;
  height: 21px;
}

.popup .button__svg {
  width: 39px;
  height: 39px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 black;
  transition: 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button .button__svg {
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.popup {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 42px 30px;
  row-gap: 30px;
}

.popup--button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.popup:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup--text {
  font-family: var(--font__accent), fantasy;
  font-size: 14px;
  line-height: 21px;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.image-bright {
  filter: brightness(2);
}

.image-contrast {
  filter: contrast(20%);
}

.image-blur {
  filter: blur(0.5rem);
}

.image-graysclae {
  filter: grayscale(0.8);
}

.image-saturate {
  filter: saturate(0.8);
}

.image-hue-rotate {
  filter: hue-rotate(45deg);
}

.image-sepia {
  filter: sepia(0.9);
}

.image-invert-contrast {
  filter: invert(0.1) contrast(0.5);
}

.button-floppy {
  font-family: var(--font__accent), fantasy;
  font-size: 14px;
  display: flex;
  /* gap: 8px; */
  justify-content: space-evenly;
  align-items: center;
  min-inline-size: 335px;
  margin-bottom: 100px;

  /* padding: 15px 0; */
}

@media (width <= 375px) {
  .button-floppy {
    flex-direction: column;
    min-inline-size: 306px;
    gap: 5px;
  }

  .button__svg {
    width: 28px;
    height: 28px;
  }
}
