/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  /* min-inline-size: 320px;
  min-block-size: 100dvb; */
  font-family: var(--font__common), sans-serif;
  font-variation-settings: 'wght' var(--font__weight_common);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 102px;
}

.header__title {
  font-family: var(--font__accent), sans-serif;
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  letter-spacing: 0;
  line-height: 100%;
  text-transform: uppercase;
  justify-self: center;
  padding-top: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  font-family: var(--font__accent), sans-serif;
  text-transform: uppercase;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
}

.logo-group {
  border: 1px solid black;
  justify-self: center;
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  margin-top: 102px;

}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  max-width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  justify-self: center;
  border: 1px solid black;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100;
}
